# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nexa_db?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key"
JWT_REFRESH_SECRET="your-super-secret-refresh-jwt-key"

# Server
PORT=3000
NODE_ENV=development
